<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
   	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<!--link rel="icon" href="../../favicon.ico"-->
	<!--link rel="icon" type="image/jpeg" sizes="32x32" href="bg_image/678.jpeg"-->
	<link rel="icon" type="image/png" sizes="32x32" href="bg_image/789.png">

	<title>QueStudy - Study Question Room</title>
	<link rel="shouticon" href="../../favicon.ico">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<!-- Custom styles for this template -->
	<link href="css/cover.css" rel="stylesheet">
	
</head>

<!--index:homepage-->

<body ng-controller="controller">
	<div class="site-wrapper">
		<div class="site-wrapper-inner">
			<div class="cover-container">
				<div class="masthead clearfix">
					
						<ul class="pull-left"><div class="nav_a">QueStudy = Question+Study</div></ul>
							<ul class="nav masthead-nav">			
								<li><a href="index.html">Home</a></li>
								<li><a href="index2.html">Features</a></li>
								<li class="active"><a href="index3.html">Hot Rooms!</a></li>
							</ul>
							
					<div class="inner">
					</div>
				</div>

<!--home-->
				<div class="inner cover">
					
					<h1 class="cover-heading"><p class="heading_style"><img src="bg_image/hot.jpg" height="200" width="700"></p></h1>
					<h1 class="cover-heading"><p class="nav_b">Hottest Question Rooms</p></h1>
                    
                    <ul class="list-inline">
                        
                        <li>
                            <a href="#" class="btn btn-lg btn-default"
                                ng-click="join()"><span class="network-name">COMP3111</span></a>
                        </li>
                        
                        <li>
                            <a class="btn btn-default btn-lg ng-pristine ng-valid ng-touched" ng-click="join()" ng-model="example.text" href="#">
                                <span class="network-name">COMP3711</span>
                            </a>
                        </li>
                        
                        <li>
                            <a class="btn btn-default btn-lg ng-pristine ng-valid ng-touched" ng-click="join()" ng-model="example.text" href="#">
                                <span class="network-name">COMP2012</span>
                            </a>
                        </li>
                        
                        </ul>

<!--the foot string-->
						<div class="mastfoot">
							<div class="inner">
								<p>Build with passion by Love!Peter @ 2015. </p>
							</div>
						</div>
<!--end of the foot string-->

					</div>
				</div>
			</div>

<!--end of home-->

<!--features-->			
			    

			
			
			<!-- Bootstrap core JavaScript
			================================================== -->
			<!-- Placed at the end of the document so the pages load faster -->
			<script src="js/lib/jquery.min.js"></script>
			<script src="js/lib/bootstrap.min.js"></script>

			<!-- 1.4.2 -->
			<script src="js/lib/angular.min.js"></script>

			<script>
			angular.module('app', [])
			.controller('controller', ['$scope', '$location', '$window', function($scope, $location, $window) {
				$scope.example = {
					text: '',
					word: /^\s*\w*\s*$/
				};

				$scope.join = function () {
					$window.location.href = 'question.html#/' + $scope.example.text;
				}
			}]);
			</script>
		</body>
		</html>
